<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LIFESTORY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="single-page-content" *ngIf="flagName ==='introduction'">
  <div>
    <img src="assets/homeImg/three.jpg" />
  </div>
  <p class="story-box" style="
    text-align: justify;
    text-indent: 20px;
">இந்தியாவின் தலைசிறந்த விஞ்ஞானி, தொழில்நுட்ப வல்லுநர், மிகப்பெரிய பொருளாளர், இந்தியாவின் 11 வது குடியரசு தலைவர், இந்திய
ஏவுகணை நாயகன், இந்திய விஞ்ஞான வளர்ச்சியின் தந்தை, சிறந்த ஆசிரியர் மற்றும் அனைவராலும் மதிக்கதக்க அற்புதமான பேச்சாளர், வருங்கால
இளைஞர்களின் முன்மாதிரியாக கருதப்படும் நம் எல்லோருக்கும் தெரிந்த ஏ.பி.ஜே அப்துல் கலாமின் வாழ்க்கை வரலாற்றை பற்றி மேலும் தெரிந்துகொள்ள
மேலும் படியுங்கள். பிறப்பு: அக்டோபர் 15, 1931 மரணம்: ஜூலை 27, 2015 இடம்: இராமேஸ்வரம் (தமிழ் நாடு) பிறப்பு:1931 ஆம் ஆண்டு,
அக்டோபர் மாதம் 15 ஆம் நாள் ஜைனுலாப்தீனுக்கும், ஆஷியம்மாவுக்கும் மகனாக இந்தியாவின் தமிழ்நாடு மாநிலத்தில், பாம்பன் தீவில் அமைந்துள்ள
இராமநாதபுரம் மாவட்டத்தில் இருக்கும் ஒரு சிறிய நகராட்சியான இராமேஸ்வரத்தில் பிறந்தார். இவர் ஒரூ இஸ்லாமிய குடும்பத்தை சேர்ந்தவர்.</p>
</ion-content>
<ion-content padding class="single-page-content" *ngIf="flagName === 'collegelife'">
  <div>
    <img src="assets/homeImg/two.jpg" />
  </div>
  <p class="story-box" style="
    text-align: justify;
    text-indent: 20px;
">இளமைப் பருவம்:அப்துல் கலாம், இராமேஸ்வரத்திலுள்ள தொடக்கப்பள்ளியில் தனது பள்ளிப்படிப்பை தொடங்கினார். ஆனால் இவருடைய குடும்பம்
ஏழ்மையில் இருந்ததால், இளம் வயதிலே இவர் தன்னுடைய குடும்பத்திற்காக வேலைக்குச் சென்றார். பள்ளி நேரம் போக மற்ற நேரங்களில் இவர்
செய்தித்தாள்கள் விநியோகம் செய்தார். இவருடைய பள்ளிப்பருவத்தில் இவர் ஒரு சராசரி மாணவனாகவே வளர்ந்தார். கல்லூரி வாழ்க்கை:தன்னுடைய
பள்ளிப்படிப்பை முடித்தபிறகு, திருச்சிராப்பள்ளியிலுள்ள “செயின்ட் ஜோசப் கல்லூரியில்” இயற்பியல் பயின்றார். 1954ஆம் ஆண்டு, இயற்பியலில்
இளங்கலை பட்டம் பெற்றார். ஆனால், இயற்பியல் துறையில் ஆர்வம் இல்லை என உணர்ந்த இவர், 1955 ஆம் ஆண்டு தன்னுடைய “விண்வெளி பொறியில்
படிப்பை” சென்னையிலுள்ள எம்.ஐ.டி-யில் தொடங்கினார். பின்னர் அதே கல்லூரியில் முதுகலைப் பட்டமும் பெற்றார்.</p>
</ion-content>
<ion-content padding class="single-page-content" *ngIf="flagName === 'isrolife'">
  <div>
    <img src="assets/homeImg/three.jpg" />
  </div>
  <p class="story-box" style="
    text-align: justify;
    text-indent: 20px;
">விஞ்ஞானியாக ஏ.பி.ஜே அப்துல் கலாம்:1960 ஆம் ஆண்டு வானூர்தி அபிவிருத்தி அமைத்தல் பிரிவில் (DRDO) விஞ்ஞானியாக தன்னுடைய ஆராய்ச்சி
வாழ்க்கையைத் தொடங்கிய அப்துல் கலாம், ஒரு சிறிய ஹெலிகாப்டரை இந்திய ராணுவத்திற்காக வடிவமைத்து கொடுத்தார். பின்னர், இந்திய விண்வெளி
ஆராய்ச்சி கூடத்தில் (ISRO) தனது ஆராய்ச்சிப்பணிகளைத் தொடர்ந்த அவர், துணைக்கோள் ஏவுகணைக் குழுவில் (SLV) செயற்கைக்கோள் ஏவுதலில்
முக்கிய பங்காற்றினார். 1980 ஆம் ஆண்டு SLV -III ராக்கெட்டைப் பயன்படுத்தி ரோகினி-I என்ற துணைக்கோளை வெற்றிகரமாக விண்ணில் ஏவச்செய்தார்.
இது அவருக்கு மட்டுமல்லாமல், இந்தியாவிற்கே ஒரு சாதனையாக அமைந்தது. இத்தகைய வியக்கதக்க செயலைப் பாராட்டி மத்திய அரசு இவருக்கு
1981 ஆம் ஆண்டு இந்தியாவின் மிகப் பெரிய விருதான “பத்ம பூஷன்” விருது வழங்கி கௌரவித்தது. 1963 ஆம் ஆண்டு முதல் 1983 ஆம் ஆண்டு
வரை, இந்திய விண்வெளி ஆராய்ச்சி கூடத்தில் பல பணிகளை சிறப்பாக செய்த இவர், 1999 ஆம் ஆண்டு “பொக்ரான் அணு ஆயுத சோதனையில்” முக்கிய
பங்காற்றியுள்ளார். இந்தியாவை அணு ஆயுத வல்லரசாக மாற்றிய ஏ.பி.ஜே அப்துல் கலாம், இதுவரை ஐந்து ஏவுகணை திட்டங்களில் பணிபுரிந்துள்ளார்.
அவர், அனைவராலும் இந்திய ராணுவ ராக்கெட் படைப்பின் பிதாவாக போற்றப்படுகிறார்.</p>
</ion-content>
<ion-content padding class="single-page-content" *ngIf="flagName === 'presitentlife'">
  <div>
    <img src="assets/homeImg/two.jpg" />
  </div>
  <p class="story-box" style="
    text-align: justify;
    text-indent: 20px;
">குடியரசுத் தலைவராக ஏ.பி.ஜே அப்துல் கலாம்:2002 ஆம் ஆண்டு நடந்த குடியரசுத் தலைவர் தேர்தலில் வெற்றி பெற்று, இந்தியாவின் 11
வது குடியரசு தலைவராக ஜூலை 25 ஆம் நாள் 2002 ல் பதவியேற்றார். குடியரசு தலைவராவதற்கு முன், இந்தியாவின் மிகப்பெரிய விருதான “பாரத
ரத்னா விருது” மத்திய அரசு இவருக்கு வழங்கி கௌரவித்தது. மேலும், “பாரத ரத்னா” விருது பெற்ற மூன்றாவது குடியரசு தலைவர் என்ற பெருமையைப்
பெற்றார். 2007 ஆம் ஆண்டு வரை குடியரசுத் தலைவராக இருந்த இவர் “மக்களின் ஜனாதிபதி” என்று அனைவராலும் அன்போடு அழைக்கப்பட்டார்.
2007 ஆம் ஆண்டு குடியரசுத் தேர்தலில் மீண்டும் போட்டியிட நினைத்த கலாம், பிறகு பல காரணங்களால் அந்த தேர்தலில் போட்டியிட போவதில்லை
என முடிவு செய்து விலகினார்.</p>
</ion-content>
<ion-content padding class="single-page-content" *ngIf="flagName === 'awards'">
  <div>
    <img src="assets/homeImg/two.jpg" />
  </div>
  <p class="story-box" style="
    text-align: justify;
    text-indent: 20px;
">விருதுகள்: 1981 – பத்ம பூஷன் 1990 – பத்ம விபூஷன் 1997 – பாரத ரத்னா 1997 – தேசிய ஒருங்கிணைப்பு இந்திராகாந்தி விருது 1998
– வீர் சவர்கார் விருது 2000 – ராமானுஜன் விருது 2007 – அறிவியல் கவுரவ டாக்டர் பட்டம் 2007 – கிங் சார்லஸ்-II பட்டம் 2008 –
பொறியியல் டாக்டர் பட்டம் 2009 – சர்வதேச வோன் கார்மான் விங்ஸ் விருது 2009 – ஹூவர் மெடல் 2010 – பொறியியல் டாக்டர் பட்டம் 2012
– சட்டங்களின் டாக்டர் 2012 – சவரா சம்ஸ்க்ருதி புரஸ்கார் விருது ஏ.பி.ஜே அப்துல் கலாம் எழுதிய நூல்கள்: அக்னி சிறகுகள் இந்தியா
2020 எழுச்சி தீபங்கள் அப்புறம் பிறந்தது ஒரு புதிய குழந்தை இறுதிவரைக்கும் பிரம்மச்சாரியாக வாழ்ந்த ஏ.பி.ஜே அப்துல் கலாமின்
எளிமையான வாழ்க்கையும், அவரது இனிமையான பேச்சும் எல்லோரையும் கவர்ந்தது என்றால் வியப்பில்லை. ‘எதிர்கால இந்திய இளைஞர்கள் கையில்’
என்ற அவர் “கனவு காணுங்கள்! அந்த கனவை நினைவாக்க பாடுபடுங்கள்” என்னும் வாக்கியத்தை இளைஞர்களின் மனதில் வேரூன்ற செய்தவர். உலகம்
போற்றும் விஞ்ஞானியான கலாம் தன்னுடைய பொன்மொழிகளாலும், கவிதைகளாலும், வாசகங்களாலும் அனைவரின் மனதிலும் நீங்கா இடம் பிடித்துள்ளார்.
</p>
</ion-content>

<ion-content padding class="single-page-content" *ngIf="flagName ==='conclusion'">
  <div>
    <img src="assets/homeImg/two.jpg" />
  </div>
  <p class="story-box" style="
    text-align: justify;
    text-indent: 20px;
">மரணம்:அப்துல் கலாம் அவர்கள் ஜூலை 27, 2015 ஷில்லாங்கில் உள்ள இண்டியன் இன்ஸ்டிடியூட் ஆஃப் மேனேஜ்மென்ட்டில் மேடையில் பேசிக்கொண்டிருந்தபோதே
மயங்கி விழுந்து மறித்தார்.</p>
</ion-content>