page-photos {
  .photos-page-content{
      background:url("../assets/homeImg/bg1.jpg");
      background-repeat: no-repeat;
    background-size: cover;
    }
    .photo-image-container {
    width:342px;
    height:200px;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.photo-image-container > img {
    position:absolute;
    top:55%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}
}
